#banner
  .banner_content
    %h1 NoteSum
    %p Your online notebook. Never forget an idea again.
    %button= link_to "Sign up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "One of the greatest notebook apps. Period."
    %p.name - Adrian Muresan

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Notes
        %p Poutine seitan jean shorts, artisan franzen helvetica fap selfies. Iceland pabst narwhal twee umami, williamsburg viral. Intelligentsia mlkshk trust fund thundercats artisan, drinking vinegar leggings knausgaard distillery fap chia selvage keffiyeh.
      .callout
        %h2 Random
        %p Poutine seitan jean shorts, artisan franzen helvetica fap selfies. Iceland pabst narwhal twee umami, williamsburg viral. Intelligentsia mlkshk trust fund thundercats artisan, drinking vinegar leggings knausgaard distillery fap chia selvage keffiyeh.
      .callout
        %h2 Important
        %p Poutine seitan jean shorts, artisan franzen helvetica fap selfies. Iceland pabst narwhal twee umami, williamsburg viral. Intelligentsia mlkshk trust fund thundercats artisan, drinking vinegar leggings knausgaard distillery fap chia selvage keffiyeh.


#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up...If you don't, it's your loss!
    %button= link_to "Click Meee", new_user_registration_path

%footer
  %p &copy; Adrian Muresan
